<% if @owner.present? %>
<section class="section">
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
	<%= image_tag @owner.avatar_url, alt: @owner.username %>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
	<p>
	  <strong><%= @owner.username %></strong>
	  <br>
	  <%= @owner.biography %>
	</p>
      </div>
    </div>
  </article>
</section>
<% end %>

<div class="columns is-multiline">
  <% @posts.each do |post| %>
  <div class="column is-one-third" id="post-<%= post.id %>">
    <div class="card">
      <% if post.built? && post.thumbnail.present? %>
      <div class="card-image">
	<figure class="image is-4by3">
	  <%= link_to post do %>
	  <img src="<%= thumbnail_path(post) %>" alt="<%= post.title %>">
	  <% end %>
	</figure>
      </div>
      <% elsif post.enqueued? || post.building? %>
      <div class="card-image">
	<figure class="image is-4by3">
	  <%= link_to post do %>
	  <div class="image-container">
	    <div class="circular-container">
	      <div class="circle circular-loader1">
		<div class="circle circular-loader2">
		</div>
	      </div>
	    </div>
	  </div>
	  <% end %>
	</figure>
      </div>
      <% elsif post.build_failed? %>
      <div class="card-image">
	<figure class="image is-4by3">
	  <%= link_to post do %>
	  <div class="image-container">
	    <span class="icon is-large">
	      <i class="fa fa-exclamation-circle"></i>
	    </span>
	  </div>
	  <% end %>
	</figure>
      </div>
      <% end %>
      <%= render partial: "posts/card_content", locals: { post: post, full: false } %>
    </div>
  </div>
  <% end %>
</div>

<%= paginate @posts %>

